body{
    background-color: darkgrey;
}


button{
    background-color: black;
    color: white;
    border-style: none;
    width: 55px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
}

.clear{
    width: 230px;
    border-radius: 10px;
}

.cal-div{
    background-color: white;
    max-width: fit-content;
}